<% if logged_in?  %>
  <% if Event.past_events.any? %>
    <p>You have the following <%= Event.past_events.count %> past events</p>
    <ul>
        <% Event.past_events.each do |event| %>
          <li><%= event.title %> | <%= event.date %> | <%= event.location %> </li>
        <% end %>  
    </ul>
  <% else %>
    <p> You have no past events. </p> 
  <% end %>

  <% if Event.upcoming_events.any? %>
    <p>You have the following <%= Event.upcoming_events.count %> upcoming events</p>
    <ul>
        <% Event.upcoming_events.each do |event| %>
          <li><%= event.title %> | <%= event.date %> | <%= event.location %> </li>
        <% end %>  
    </ul>
  <% else %>
    <p> You have no upcoming events. </p> 
  <% end %>
<% else %> 
   <% Event.all.each do |created_event| %>
        <h3 class='subtitle'> <%= created_event.title %> </h3>
        <p> <%= created_event.description %> <span> <%= created_event.date %> </span></p>
  <% end %>
<% end %>