<<<<<<< HEAD
<div class='container'>
  <h1 class='title is-center'>Event#new</h1>
  <%= form_with model: @created_event do |f| %>
  <div class="field">
    <p class="control has-icons-left has-icons-right">
    <%= f.date_field :event_date,  placeholder: 'Event Date', class: 'input is-info' %>
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
        <%= f.text_area :description,  placeholder: 'Event Description', class: 'input is-info' %>
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control">
      <%= f.submit 'Create Event', class: 'button is-success' %> 
    </p>
  </div>
  <% end %>
</div>
=======
<h1>Events#new</h1>
<p>Find me in app/views/events/new.html.erb</p>
<%= render 'form' %>
>>>>>>> dd4ec7d55667483125df01c863d8106849ec84e5
