<!DOCTYPE html>
<html>
  <head>
    <title>Events</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css' %>
    <%= stylesheet_link_tag 'https://use.fontawesome.com/releases/v5.7.0/css/all.css' %>
  </head>

  <body>
  <%= render partial: 'shared/flash' %>
  <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/users/show">
      <h3><strong>Private Events </strong></h3>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">

        <div class="buttons">
        <% if @user %>
           <h2 class='button is-static is-light'>Welcome  <%= @user.name %></h2>
          <%= link_to 'Log Out', logout_path, method: 'delete', class: 'button is-primary' %>
        <% else %>
        <%= link_to 'Sign Up', sign_up_path, class: 'button is-primary' %>
        <%= link_to 'Sign In', sign_in_path, class: 'button is-light' %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>

    
    <%= yield %>
  </body>
</html>
